<!DOCTYPE html>
<html>

<head>
    <title>大圖加載測試</title>
</head>

<body>
    <img width="1000px" src="/img/big1.jpg" />
    <img width="1000px" src="/img/big2.jpg" />
    <img width="1000px" src="/img/big3.jpg" />
    <img width="1000px" src="/img/big4.jpg" />
    <img width="1000px" src="/img/big5.jpg" />
    <img width="1000px" src="/img/big6.jpg" />
</body>

</html>